@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
), default , default);

$nb-themes: nb-register-theme((
  // add your variables here like:
  color-bg: #4ca6ff,
  shadow: 0 1px 2px 0 #3780c0,
  layout-bg: #f0d9f5,
  color-fg: #0e0f0f
), niche , default);

$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
), corporate , corporate);

$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
  color-fg: #0e0f0f
), niche2 , corporate);

$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
  color-bg: #222222,
  shadow: 0 1px 2px 0 #000000,
  color-fg: #303030,
  layout-bg: #ededed,
), dark , cosmic);
